<div class="root-questions">
  <div class="header">
    <div class="header-part header-left"></div>
    <div class="header-part header-right"></div>
  </div>
  <div class="main-container">
    <div class="sidebar"></div>
    <div class="content-questions">
      <% @questions.each do |question| %>
        <div class="question">
          <%= link_to "/questions/#{question['_id']}" do %><h2 class="heading"><%= question['title'] %></h2><% end %>
          <h3 class="description"><%= question['text'].truncate(370) %></h3>
          <div class="details">
            <div class="stats">        
              <div class="answers"><%= question['answers'].length %><div class="stat-icon chat-icon"></div></div>
              <div class="upvotes"><%= question['upvotes'] || 0%><div class="stat-icon like-icon"></div></div>
            </div>
            <div class="author">
              <div class="author__avatar" style = "background-image: url(<%= "uploads/user/avatar/#{question['user'].first["_id"].to_s}/#{question['user'].first["avatar"]}" %>)"></div>
              <div class="author__name"><%= question['user'].first['name'] %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to new_question_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window-new-question', form: { "data-type" => "script" }} do %>
      <div class="create-question"><i class="fas fa-plus-circle create-question__icon" id="create-question__icon"></i></div>
    <% end %>
    <div id="modal-window-new-question" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
  </div>
  <div class="footer"></div>
</div>
