<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.quilljs.com/1.1.6/quill.snow.css" rel="stylesheet"></link>
    <script src="https://cdn.quilljs.com/1.1.6/quill.js"></script>

    <title>QAPlatform</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'stylesheets/application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
